version: '3.7'

networks:
  public:
    name: public
    external: true

services:

    ZEN:
        deploy:
          replicas: 1
        image: 'registry.rubercubic.com:5001/exchange-data:latest'
        volumes:
            - ${HOME}/.exchange-data/:${HOME}/.exchange-data/
        command: >-
            bash -c "source ~/.bashrc && ./exchange_data/emitters/binance/_trade_executor.py -t 2m ZEN -e"
        environment:
            - LOG_LEVEL=INFO
        networks:
            - public
        depends_on:
            - redis
            - model_serving
            - influxdb
        secrets:
            - DB
            - BINANCE_API_KEY
            - BINANCE_API_SECRET

    ENJ:
        deploy:
          replicas: 1
        image: 'registry.rubercubic.com:5001/exchange-data:latest'
        volumes:
            - ${HOME}/.exchange-data/:${HOME}/.exchange-data/
        command: >-
            bash -c "source ~/.bashrc && ./exchange_data/emitters/binance/_trade_executor.py -t 2m ENJ -e"
        environment:
            - LOG_LEVEL=INFO
        networks:
            - public
        depends_on:
            - redis
            - model_serving
            - influxdb
        secrets:
            - DB
            - BINANCE_API_KEY
            - BINANCE_API_SECRET
secrets:
    DB:
        external: true
    BINANCE_API_KEY:
        external: true
    BINANCE_API_SECRET:
        external: true
