alog
bitmex
bitmex-websocket==0.2.78
cached-property
click
coveralls
docker
flake8
gax-google-logging-v2
git+https://github.com/joliveros/sec.git#egg=sec
gym
influxdb
matplotlib
mock
opencv-python
optuna
pandas==0.25.3
plotly
pytest
pytest-cov
pytest-mock
pytest-mypy
pytest-recording
python-binance
python-redis-cache
pytimeparse
pytz
redis
redis-collections
redlock
retry
rollbar>=0.13.12
scikit-image
scipy==1.4.1
setuptools>=41.0.0
sortedcontainers
statsd
stringcase
tensorflow-datasets
tensorflow-gpu==2.5.0
bintrees
timestamp
unicorn-binance-websocket-api
