alog
bitmex
bitmex-websocket==0.2.78
cached-property
click
coveralls
docker
flake8
git+https://github.com/joliveros/gdax-python.git#egg=gdax
git+https://github.com/joliveros/python-binance.git#egg=python-binance
git+https://github.com/joliveros/sec.git#egg=sec
git+https://github.com/nlsdfnbch/Pysher.git#egg=pysher
gym
influxdb
matplotlib
mock
numpy<1.19.0,>=1.16.0
opencv-python
optuna
pandas==0.25.3
plotly
progressbar2
prometheus_client
pusherclient
pytest
pytest-cov
pytest-mock
pytest-mypy
pytest-vcr
pytimeparse
pytz
redis
rollbar>=0.13.12
scikit-image
scipy==1.4.1
setuptools>=41.0.0
sortedcontainers
statsd
stringcase
tensorflow-datasets
tf-nightly-gpu
timestamp
tqdm
redis-collections
