alog
bintrees
bitmex
bitmex-websocket==0.2.78
cached-property
click
coveralls
docker
flake8
git+https://github.com/joliveros/sec.git#egg=sec
gym
influxdb
matplotlib
mock
numpy==1.20
opencv-python
optuna
pandas==1.1.5
plotly
pytest
pytest-cov
pytest-mock
pytest-mypy
pytest-recording
python-binance
python-redis-cache
pytimeparse
pytz
redis
redis-collections
redlock
retry
rollbar>=0.13.12
scikit-image
scipy==1.4.1
setuptools>=41.0.0
sortedcontainers
statsd
stringcase
tensorflow-datasets
tensorflow-gpu==2.10.0
timestamp
unicorn-binance-websocket-api
unicorn_fy
ta
psycopg2-binary
slack_sdk
