model_config_list {
  config {
    name: "VENBNB"
    base_path: "/models/VENBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "YOYOBNB"
    base_path: "/models/YOYOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "POWRBNB"
    base_path: "/models/POWRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NULSBNB"
    base_path: "/models/NULSBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RCNBNB"
    base_path: "/models/RCNBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RDNBNB"
    base_path: "/models/RDNBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DLTBNB"
    base_path: "/models/DLTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "WTCBNB"
    base_path: "/models/WTCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "AMBBNB"
    base_path: "/models/AMBBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BCCBNB"
    base_path: "/models/BCCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BATBNB"
    base_path: "/models/BATBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BCPTBNB"
    base_path: "/models/BCPTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NEOBNB"
    base_path: "/models/NEOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "QSPBNB"
    base_path: "/models/QSPBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BTSBNB"
    base_path: "/models/BTSBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "XZCBNB"
    base_path: "/models/XZCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "LSKBNB"
    base_path: "/models/LSKBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "IOTABNB"
    base_path: "/models/IOTABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ADXBNB"
    base_path: "/models/ADXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CMTBNB"
    base_path: "/models/CMTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "XLMBNB"
    base_path: "/models/XLMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CNDBNB"
    base_path: "/models/CNDBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "WABIBNB"
    base_path: "/models/WABIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "LTCBNB"
    base_path: "/models/LTCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "WAVESBNB"
    base_path: "/models/WAVESBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "GTOBNB"
    base_path: "/models/GTOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ICXBNB"
    base_path: "/models/ICXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "OSTBNB"
    base_path: "/models/OSTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "AIONBNB"
    base_path: "/models/AIONBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NEBLBNB"
    base_path: "/models/NEBLBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BRDBNB"
    base_path: "/models/BRDBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "MCOBNB"
    base_path: "/models/MCOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NAVBNB"
    base_path: "/models/NAVBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TRIGBNB"
    base_path: "/models/TRIGBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "APPCBNB"
    base_path: "/models/APPCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RLCBNB"
    base_path: "/models/RLCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "PIVXBNB"
    base_path: "/models/PIVXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "STEEMBNB"
    base_path: "/models/STEEMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NANOBNB"
    base_path: "/models/NANOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "VIABNB"
    base_path: "/models/VIABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BLZBNB"
    base_path: "/models/BLZBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "AEBNB"
    base_path: "/models/AEBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RPXBNB"
    base_path: "/models/RPXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NCASHBNB"
    base_path: "/models/NCASHBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "POABNB"
    base_path: "/models/POABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ZILBNB"
    base_path: "/models/ZILBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ONTBNB"
    base_path: "/models/ONTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "STORMBNB"
    base_path: "/models/STORMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "QTUMBNB"
    base_path: "/models/QTUMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "XEMBNB"
    base_path: "/models/XEMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "WANBNB"
    base_path: "/models/WANBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SYSBNB"
    base_path: "/models/SYSBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "QLCBNB"
    base_path: "/models/QLCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ADABNB"
    base_path: "/models/ADABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "GNTBNB"
    base_path: "/models/GNTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "LOOMBNB"
    base_path: "/models/LOOMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BCNBNB"
    base_path: "/models/BCNBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "REPBNB"
    base_path: "/models/REPBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TUSDBNB"
    base_path: "/models/TUSDBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ZENBNB"
    base_path: "/models/ZENBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SKYBNB"
    base_path: "/models/SKYBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "EOSBNB"
    base_path: "/models/EOSBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CVCBNB"
    base_path: "/models/CVCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "THETABNB"
    base_path: "/models/THETABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "XRPBNB"
    base_path: "/models/XRPBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "AGIBNB"
    base_path: "/models/AGIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NXSBNB"
    base_path: "/models/NXSBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ENJBNB"
    base_path: "/models/ENJBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TRXBNB"
    base_path: "/models/TRXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ETCBNB"
    base_path: "/models/ETCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SCBNB"
    base_path: "/models/SCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NASBNB"
    base_path: "/models/NASBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "MFTBNB"
    base_path: "/models/MFTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ARDRBNB"
    base_path: "/models/ARDRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "VETBNB"
    base_path: "/models/VETBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "POLYBNB"
    base_path: "/models/POLYBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "PHXBNB"
    base_path: "/models/PHXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "GOBNB"
    base_path: "/models/GOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "PAXBNB"
    base_path: "/models/PAXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RVNBNB"
    base_path: "/models/RVNBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DCRBNB"
    base_path: "/models/DCRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "USDCBNB"
    base_path: "/models/USDCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "MITHBNB"
    base_path: "/models/MITHBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RENBNB"
    base_path: "/models/RENBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BTTBNB"
    base_path: "/models/BTTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ONGBNB"
    base_path: "/models/ONGBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "HOTBNB"
    base_path: "/models/HOTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ZRXBNB"
    base_path: "/models/ZRXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "FETBNB"
    base_path: "/models/FETBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "XMRBNB"
    base_path: "/models/XMRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ZECBNB"
    base_path: "/models/ZECBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "IOSTBNB"
    base_path: "/models/IOSTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CELRBNB"
    base_path: "/models/CELRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DASHBNB"
    base_path: "/models/DASHBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "OMGBNB"
    base_path: "/models/OMGBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "MATICBNB"
    base_path: "/models/MATICBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ATOMBNB"
    base_path: "/models/ATOMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "PHBBNB"
    base_path: "/models/PHBBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TFUELBNB"
    base_path: "/models/TFUELBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ONEBNB"
    base_path: "/models/ONEBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "FTMBNB"
    base_path: "/models/FTMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ALGOBNB"
    base_path: "/models/ALGOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ERDBNB"
    base_path: "/models/ERDBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DOGEBNB"
    base_path: "/models/DOGEBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DUSKBNB"
    base_path: "/models/DUSKBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ANKRBNB"
    base_path: "/models/ANKRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "WINBNB"
    base_path: "/models/WINBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "COSBNB"
    base_path: "/models/COSBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "COCOSBNB"
    base_path: "/models/COCOSBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TOMOBNB"
    base_path: "/models/TOMOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "PERLBNB"
    base_path: "/models/PERLBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CHZBNB"
    base_path: "/models/CHZBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BANDBNB"
    base_path: "/models/BANDBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BEAMBNB"
    base_path: "/models/BEAMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "XTZBNB"
    base_path: "/models/XTZBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "HBARBNB"
    base_path: "/models/HBARBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NKNBNB"
    base_path: "/models/NKNBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "STXBNB"
    base_path: "/models/STXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "KAVABNB"
    base_path: "/models/KAVABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ARPABNB"
    base_path: "/models/ARPABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CTXCBNB"
    base_path: "/models/CTXCBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BCHBNB"
    base_path: "/models/BCHBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TROYBNB"
    base_path: "/models/TROYBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "VITEBNB"
    base_path: "/models/VITEBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "FTTBNB"
    base_path: "/models/FTTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "OGNBNB"
    base_path: "/models/OGNBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DREPBNB"
    base_path: "/models/DREPBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TCTBNB"
    base_path: "/models/TCTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "WRXBNB"
    base_path: "/models/WRXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "LTOBNB"
    base_path: "/models/LTOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "STRATBNB"
    base_path: "/models/STRATBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "MBLBNB"
    base_path: "/models/MBLBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "COTIBNB"
    base_path: "/models/COTIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "STPTBNB"
    base_path: "/models/STPTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SOLBNB"
    base_path: "/models/SOLBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CTSIBNB"
    base_path: "/models/CTSIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "HIVEBNB"
    base_path: "/models/HIVEBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CHRBNB"
    base_path: "/models/CHRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "MDTBNB"
    base_path: "/models/MDTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "STMXBNB"
    base_path: "/models/STMXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "IQBNB"
    base_path: "/models/IQBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DGBBNB"
    base_path: "/models/DGBBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "COMPBNB"
    base_path: "/models/COMPBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SXPBNB"
    base_path: "/models/SXPBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SNXBNB"
    base_path: "/models/SNXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "VTHOBNB"
    base_path: "/models/VTHOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "IRISBNB"
    base_path: "/models/IRISBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "MKRBNB"
    base_path: "/models/MKRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DAIBNB"
    base_path: "/models/DAIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RUNEBNB"
    base_path: "/models/RUNEBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "FIOBNB"
    base_path: "/models/FIOBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "AVABNB"
    base_path: "/models/AVABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BALBNB"
    base_path: "/models/BALBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "YFIBNB"
    base_path: "/models/YFIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "JSTBNB"
    base_path: "/models/JSTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SRMBNB"
    base_path: "/models/SRMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "ANTBNB"
    base_path: "/models/ANTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "CRVBNB"
    base_path: "/models/CRVBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SANDBNB"
    base_path: "/models/SANDBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "OCEANBNB"
    base_path: "/models/OCEANBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "NMRBNB"
    base_path: "/models/NMRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DOTBNB"
    base_path: "/models/DOTBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "LUNABNB"
    base_path: "/models/LUNABNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "RSRBNB"
    base_path: "/models/RSRBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "PAXGBNB"
    base_path: "/models/PAXGBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "WNXMBNB"
    base_path: "/models/WNXMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "TRBBNB"
    base_path: "/models/TRBBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "BZRXBNB"
    base_path: "/models/BZRXBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "SUSHIBNB"
    base_path: "/models/SUSHIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "YFIIBNB"
    base_path: "/models/YFIIBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "KSMBNB"
    base_path: "/models/KSMBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "EGLDBNB"
    base_path: "/models/EGLDBNB_export"
    model_platform: "tensorflow"
  }
  config {
    name: "DIABNB"
    base_path: "/models/DIABNB_export"
    model_platform: "tensorflow"
  }
}
