model_config_list {
  config {
    name: "IOSTBNB"
    base_path: "/models/IOSTBNB_export"
    model_platform: "tensorflow"
    model_version_policy {
      all {
      }
    }
  }
  config {
    name: "SANDBNB"
    base_path: "/models/SANDBNB_export"
    model_platform: "tensorflow"
    model_version_policy {
      all {
      }
    }
  }
}
